p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1C5399;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

#navbar {
    width: 100%;
    background-color: #1C539F;
    font-family: "Poppins", sans-serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

#navbar img {
    width: 200px;
    display: block;
    margin-left: 15px;
}

#navbarSupportedContent {
    align-items: center;
    justify-content: right;
}

#navbarSupportedContent .nav-link {
    margin-right: 10px;
    color: #fff;
    font-weight: 300;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 370px;
    
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.profile img {
    border: 5px solid #fff;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;        
    padding: 10px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.about-title {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1C539F;
}

.education-title {
    padding: 25px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1C5399;
}

.about-me-card {
    border-radius: 0%;
    background: #FFFFFF;
    max-width: 50%;
    width: auto;
    height: auto;
    padding: 25.5px;
}

.education-box {
    border-radius: 0%;
    background: #fff;
    width: 50%;
    height: auto;
    padding-bottom: 30px;
}

.about-me-description {
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}

.button {
    background-color: #1C5399;
    color: #FFF;
    border: none;
    margin: 20px 20px;
    padding: 20px 30px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #fff;
    border: 2px solid #1C5399;
    color: #1C5399;
    opacity: 0.9;
}

.education-card {
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 20px 20px 50px 50px rgba(7, 54, 82, 0.05);
    width: 350px;
    height: 320px;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    transition: opacity 0.3s ease-in-out; 
}

.education-card h4 {
    padding-top: 20px;
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 500;
    color: #000;
}

.education-card h5 {
    padding-top: 5px;;
    font-size: 18px; 
}
.education-card p{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: 300;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.typewriter {
    place-items: center;
}

.typewriter h1 {
    display: inline-block;
    overflow: hidden;
    border-right: 5px solid #FFC55B;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    max-width: fit-content;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.work-experience {
    background-color: #FFF;
    height: 575px; 

    
}
.work-title {
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1C539F;
}

.work-card {
    border-radius: 44px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px 50px rgba(7, 54, 82, 0.05);
    width: 350px;
    height: 320px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 60px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.work-card:hover {
    opacity: 0.8;
}

.work-card h4 {
    padding-top: 25px;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 500;
}

.work-card i {
    padding-top: 20px;
    padding-bottom: 20px;
}

.work-card h5 {
    padding-top: 10px;;
    font-size: 15px; 
}
.work-card p{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: 200;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.hstack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: center;
}

.vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: space-around;
}

#places-title {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #1C539F;
}