{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    <meta property="og:url" content="{{ url }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/stuti_profile.JPG">
        </div>
        <div class="typewriter">
            <h1>👋 Hi, I'm {{headerInfo.name}}</h1>
        </div>
    </div>

    {% include 'work.html' %}

    {% include 'places.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/places.js')}}"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API}}&callback=initMap">
    </script>
{% endblock %}

