{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    <meta property="og:url" content="{{ url }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/stuti_profile.JPG">
        </div>
        <div class="typewriter">
            <h1>👋 Hi, I'm {{headerInfo.name}}</h1>
        </div>
    </div>

    {% include 'work.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

