<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="./static/img/logo.svg" width="200">
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" id="navbarToggler">
            <i class="fas fa-bars" style="color: #fff; font-size: 28px;"></i>
        </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experiences"><i class="fas fa-briefcase"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hobbies"><i class="fas fa-gamepad"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://drive.google.com" target="_blank"><i class="fas fa-file-lines"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
