<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="./static/img/logo.svg" width="200">
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" id="navbarToggler">
            <i class="fas fa-bars" style="color: #fff; font-size: 28px;"></i>
        </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-user"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience"><i class="fas fa-briefcase"></i> Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills"><i class="fas fa-gamepad"></i> Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/iamstutishah" target="_blank"><i class="fab fa-github"></i> Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://linkedin.com/in/iamstuti" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
