<div class="work-experience">
    <h1 class="work-title">My Work Experience</h1>
    <div class="hstack">
        {% for experience in workExperience %}
        <div class="work-card" data-aos="flip-right" data-aos-delay="750">
            <div class="vstack">
                <h4>{{experience.title}}</h4>
                <i class="fa-solid fa-briefcase fa-2xl center"></i>
                <h5>{{experience.date}}</h5>
                <p>{{experience.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>